h1{
    text-align: center;
    color: #d0fff7;
    background-color: teal;
    
}
h2{
    text-align: center;
    color:#dfffff;
    background-color: #105557;
}
body{
    background-image: url(../images/back3.jpg);
}
table{
    background-color: aquamarine;
}
ol{
     background-image: url(../images/back4.jpg)
}