div.title{
    width: 1000px;
    height: 40px;
    background-color: deeppink;
    margin-bottom: 10px;
}



div.left{
    vertical-align: top;
    display: inline-block;
    width: 250px;
    height: 320px;
     margin-right: 50px;
}

div.right{
    vertical-align: top;
    display: inline-block;
    width: 100px;
    height: 320px;
}

div.menu1{

    display: block;
    width: 250px;
    height: 100px;
    margin-bottom: 10px;
   
    background-color: blue;

}

div.image{
    display: block;
    width: 700px;
    height: 300px;
    background-color: black;
}

div.bun{
    display: block;
    width: 700px;
    height: 20px;
    background-color: aliceblue;
     margin bottom: 10px;
}


div.footer{
    text-align: end;
    width: 1000px;
    height: 40px;
    margin: 10px 0px 0px 0px;
    background-color: red;
    margin-top: 10px;
}
div.wrap{
    width : 1000px;
    margin : 0px auto;
}